body {
  background-color: grey;
}

h1 {
  color: white;
  font-family: arial;
  text-transform: uppercase;
  text-align: center;
}

p {
  text-align: center;
  color: lightgray;
  font-family: arial;
  text-transform: uppercase;
}

ul {
  /* justify-content: center; */
  display: inline;
  list-style-type: none;
}

/* li a {
  color: orange;
  font-family: arial;
  text-decoration: none;
} */

div {
  width: 100%;
}

.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-centered a {
  float:left;
  position: absolute;
  top: 50%;
  left: 50%;
}


a {
  color: limegreen;
  font-family: arial;
  text-decoration: none;
}
